/* primary colors */

$bs-black: #323232;
$silver: #afafaf;
$white: #ffffff;

/* secundary colors */

$bs-dark-black: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

/*error state*/
$input-box-error: #d22d2d;
