@use "../breakpoints" as breakpoint;
@use "../colors" as color;

.main-container {
  background-color: color.$white;
  max-width: 100vw;
}

.article {
  padding: 24px 16px 16px;
  @include breakpoint.medium {
    padding: 48px 36px 36px;
  }
  @include breakpoint.large {
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1208px;
  }

  &__picture-area {
    display: flex;
    flex-direction: column;
    @include breakpoint.medium {
      padding: 0 56px;
    }
  }

  &__section-header-text {
    margin: 0;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: color.$bs-black;
    @include breakpoint.medium {
      padding-bottom: 36px;
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__body-copy-text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: color.$bs-black;
    @include breakpoint.medium {
      font-size: 14px;
      line-height: 22px;
    }

    &--quote {
      font-weight: 600;
      margin: 0;
      padding-top: 16px;
      @include breakpoint.medium {
        font-size: 24px;
        line-height: 32px;
        padding-top: 24px;
      }
    }
    &--credits {
      margin: 0;
      font-weight: 600;
      padding-top: 8px;
      @include breakpoint.medium {
        padding-top: 16px;
      }
    }

    &--paragraphs {
      margin: 0;
      padding-top: 16px;
      @include breakpoint.medium {
        padding-top: 24px;
      }
    }
  }

  &__text-area {
    @include breakpoint.medium {
      padding: 0 56px;
    }
  }

  &__subheader-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: color.$bs-black;
    margin: 0;
    padding-top: 24px;
    @include breakpoint.medium {
      padding-top: 36px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__paragraphs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include breakpoint.medium {
      flex-wrap: nowrap;
      gap: 24px;
    }
  }
}

.photo-gallery-container {
  background-color: color.$alabaster;
  max-width: 100vw;
}
.photo-gallery {
  padding: 24px 16px 16px;
  @include breakpoint.medium {
    padding: 48px 0 36px;
  }
  @include breakpoint.large {
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1208px;
  }

  &__section-header-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: color.$bs-black;
    margin: 0;
    padding-bottom: 16px;
    @include breakpoint.medium {
      font-size: 36px;
      line-height: 44px;
      padding: 0 36px 36px 36px;
    }
    @include breakpoint.large {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__photos-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include breakpoint.medium {
      gap: 24px;
      padding-bottom: 0;
    }
  }

  &__flow-row {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include breakpoint.medium {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0;
    }
  }

  &__image {
    display: inline-block;
    filter: grayscale(100%);
    transition: all 0.2s;
    &:hover {
      filter: none;
    }
    @include breakpoint.medium {
      min-width: 25%;
      height: auto;
    }
  }

  &__left-column {
    @include breakpoint.medium {
      margin-left: 36px;
    }
    @include breakpoint.large {
      margin-left: 0;
    }
  }
  &__mid-column {
    @include breakpoint.medium {
      margin: 0 24px;
    }
  }
  &__right-column {
    @include breakpoint.medium {
      margin-right: 36px;
    }
    @include breakpoint.large {
      margin-right: 0;
    }
  }
}
