@use "./partials/fonts";
@use "./partials/components/header";
@use "./partials/components/mainBiography";
@use "./partials/components/footer";
@use "./partials/breakpoints" as breakpoint;

html,
body {
  margin: 0;
  font-family: "AvenirNextLTPro";
  box-sizing: border-box;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
}
