/* Regular */
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/fonts/AvenirNextLTPro-regular.otf") format("opentype");
  src: url("../assets/fonts/Alternative-files/AvenirNextLTPro-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Semi Bold */
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/fonts/AvenirNextLTPro-demi.otf") format("opentype");
  src: url("../assets/fonts/Alternative-files/AvenirNextLTPro-demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/fonts/AvenirNextLTPro-bold.otf") format("opentype");
  src: url("../assets/fonts/Alternative-files/AvenirNextLTPro-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* primary colors */
/* secundary colors */
/* styles for header for mobile */
.nav-bar-container {
  background-color: #323232;
  max-width: 100vw;
}

.nav-bar {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    padding: 0 2.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav-bar {
    margin-left: auto;
    margin-right: auto;
    max-width: 75.5rem;
    padding: 0;
  }
}
.nav-bar__logo {
  min-height: 1.25em;
  min-width: 7.5rem;
  max-height: 2.813rem;
  text-align: center;
  margin: 0;
  padding: 1.5rem 1rem 0;
}
@media only screen and (min-width: 768px) {
  .nav-bar__logo {
    min-height: 1.25rem;
    min-width: 7.5rem;
    max-width: 100vw;
    max-height: 100vh;
    padding: 1.5rem 0;
  }
}
.nav-bar__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: auto;
}
@media only screen and (min-width: 768px) {
  .nav-bar__list {
    max-width: auto;
    gap: 4.5rem;
    justify-content: space-evenly;
  }
}
.nav-bar__list-item {
  /*text styles: body copy*/
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #e1e1e1;
  text-align: center;
  margin: 0;
  padding: 1rem;
  width: 50vw;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .nav-bar__list-item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 100%;
    padding: 1.5rem 0;
  }
}
.nav-bar__list-item--current-page {
  font-weight: 700;
  border-bottom: 0.188rem solid #ffffff;
}
.nav-bar__list-item--inactive-page {
  transition: all 0.2s;
}
.nav-bar__list-item--inactive-page:hover {
  color: #ffffff;
  border-bottom: 0.188rem solid #ffffff;
}

.hero {
  max-width: 100vw;
  min-height: 55vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.hero__title {
  /*text styles: page header*/
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin: auto 1rem;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    margin: auto 2.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title {
    margin: auto;
    padding-right: 47rem;
    max-width: 75.5rem;
  }
}

.main-container {
  background-color: #ffffff;
  padding: 24px 16px 16px 16px;
}

.shows__section-header-text {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
}
@media only screen and (min-width: 768px) {
  .shows__section-header-text {
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.shows__container {
  display: flex;
  flex-direction: column;
}
.shows__details {
  border-bottom: 1px solid #e1e1e1;
  padding: 16px 0;
}
@media only screen and (min-width: 768px) {
  .shows__details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.shows__dates {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .shows__dates {
    flex-direction: row;
    width: 25%;
  }
}
.shows__venues {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
@media only screen and (min-width: 768px) {
  .shows__venues {
    flex-direction: row;
    margin: 0;
    width: 25%;
  }
}
.shows__locations {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .shows__locations {
    flex-direction: row;
    width: 25%;
  }
}
.shows__header-container-mid {
  display: none;
}
@media only screen and (min-width: 768px) {
  .shows__header-container-mid {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.shows__copy-body-text {
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}
@media only screen and (min-width: 768px) {
  .shows__copy-body-text {
    font-size: 12px;
    line-height: 20px;
  }
}
.shows__copy-body-text--date {
  font-weight: 700;
}
.shows__copy-body-text--header-small {
  color: #afafaf;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .shows__copy-body-text--header-small {
    display: none;
  }
}
.shows__copy-body-text--header-mid {
  font-size: 10px;
  line-height: 20px;
  color: #afafaf;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .shows__copy-body-text--header-mid {
    font-size: 12px;
    line-height: 20px;
    width: 25%;
  }
}
.shows__button {
  background-color: #323232;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 0;
  margin-top: 16px;
}
@media only screen and (min-width: 768px) {
  .shows__button {
    width: 25%;
    margin: 0;
  }
}
.shows__button:hover {
  background-color: #000000;
}

footer {
  background-color: #323232;
  max-width: 100vw;
}

p {
  margin: 0;
}

.footer-container {
  margin: 1.5rem 1rem 1rem;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    margin: 3rem 2.25rem 2.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 75.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .footer-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
}
.footer-header__section-header-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .footer-header__section-header-text {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer-header__social {
  margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer-header__social {
    margin: 0 2rem;
  }
}
.footer-header__icon {
  width: auto;
  height: 25px;
}
.footer-header__icon--middle {
  margin: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .footer-header__icon--middle {
    margin: 0 1.5rem;
  }
}
.footer-header__logo {
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer-header__logo {
    display: inline-block;
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin-left: auto;
  }
}

@media only screen and (min-width: 768px) {
  .footer-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.footer-body__item {
  padding: 1rem 0;
}
@media only screen and (min-width: 768px) {
  .footer-body__item {
    padding: 1.5rem 0;
  }
  .footer-body__item--middle {
    margin: 0 3.5rem;
  }
}
.footer-body__copy-text {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .footer-body__copy-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer-body__copy-text--titles {
  font-weight: 600;
}
.footer-body__copy-text--location {
  margin: 1rem 0;
}
@media only screen and (min-width: 768px) {
  .footer-body__copy-text--location {
    margin: 1.5rem 0;
  }
}
.footer-body__copy-text--link {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .footer-foot-notes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.footer-foot-notes__logo {
  margin-top: 3rem;
}
@media only screen and (min-width: 768px) {
  .footer-foot-notes__logo {
    display: none;
  }
}
.footer-foot-notes__lables-copyright {
  margin: 1rem 0 0;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .footer-foot-notes__lables-copyright {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

html,
body,
input,
textarea,
span,
button {
  margin: 0;
  font-family: "AvenirNextLTPro";
  box-sizing: border-box;
  overflow-x: hidden;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=shows.css.map */